<div class="todo-container px-4 py-2 hover-show flex hover:bg-gray-200">
  {{> form/checkbox checked=complete color='green-700' background='gray-400' }}

  <span class="flex-grow">
    {{ description }}
  </span>

  <span class="icon icon-sm text-red-500 remove-icon hover-target justify-end">
    @svg("img/zondicons/trash.svg")
  </span>
</div>
