.btn {
  @apply font-bold py-1 px-2 m-1 rounded;
}

.btn-green {
  @apply bg-green-600 text-white;
}

.btn-green:hover {
  @apply bg-green-800;
}

.btn-outline {
  @apply bg-transparent font-semibold py-1 px-2 mt-1 mb-1 rounded border;
}

.btn-outline-green {
  @apply border-green-600 text-green-700;
}

.btn-outline-green:hover {
  @apply bg-green-700 text-gray-100;
}

/*
  Checkbox Component styles
 */
.checkbox-label {
  .checkbox-style {
    @apply w-5 h-5;
  }

  &.checkbox-sm .checkbox-style {
    @apply w-3 h-3 my-1;
  }

  &.checkbox-lg .checkbox-style {
    @apply w-6 h-6;
  }

  input:checked {
    ~ .complete-bg {
      display: block !important;
    }

    ~ i {
      display: block !important;
    }
  }
}
