<div class='add-item-container flex'>
  <input type="text" class="add-input flex-auto px-1" placeholder="Walk the dog"/>
  <button class="add-button btn btn-green text-white mx-2">Add</button>
</div>
