<div class="todo-container px-4 py-2 hover-show flex hover:bg-gray-200">
  {{> form/checkbox checked=complete color='green-500' bg='white' bg-checked='gray-200'}}

  <span class="flex-grow">
    {{ description }}
  </span>

  <span class="trash-icon icon icon-sm text-red-500 remove-icon hover-target justify-end">
    @svg("img/zondicons/trash.svg")
  </span>
</div>
